# Ignore everything
*

# But not these files...
!*.txt
!.gitignore
!*.md
!snick.ml
!snick_symbol.ml
!snick_analyze.ml
!snick_codegen.ml
!snick.ml
!snick_ast.ml
!snick_pprint.m*
!*.mll
!*.mly
!Makefile
!Makefile.depend